<!--<p id="notice"><%= notice %></p>-->
<div class="icontent-container">
<div class="top">
  <h1> Your babified url management page </h1>
</div>


<div class="middle">
  <div id="left-show">
    <div id="show-list">
      <label for="first"> Your new Url</label>
      <div class="element" id="first"><a href="/urls/increase_count/<%=@url.id%>"><%= @url.url_out%></a></div>
      <label for="second"> Url Management links</label>
      <div class="element" id="second"><a href="/urls/<%=@url.id%>"> babyurl.heroku.com/url/<%=@url.id%></a></div>
      <div class="element" id="third"><a href="/">Back</a></div>
    </div>

  </div>

  <div id ="right-show">
    <div id="chart-title">
      Number of Clicks Per Day for the past week
    </div>
    <div id="chart">
      <%= image_tag @clicks_chart %>
    </div>
    <div class="clicks">
    </div>
  </div>

</div>

<!--<%= link_to 'Edit', edit_url_path(@url) %>--> 
</div>
